<strong>Olá, {{ deliveryman }}</strong>
<p>Encomenda {{ orderId }} foi cancelada.</p>
<p>
  <p>
    Devido a gravidade do problema, está entrega foi cancelada.
  </p>
  <br />
  <br />
  <strong>Problema: </strong> {{ problem }} <br /br>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatátio: </strong> {{ recipient }} <br />
  <br />
</p>
